<?xml version="1.0"?>
<model>
    <name>iCub_crawling</name>
    
    <version>1.0</version>
    <sdf version='1.5'>icub_crawling.sdf</sdf>
    
    <author>
        <name>Marie Charbonneau</name>
        <email>marie.m.charbonneau@gmail.com</email>
    </author>
    
    <description>
        Model for the iCub humanoid robot, in crawling position.
    </description>
</model>
